<%- include('../partials/head') %>


<link rel="stylesheet" href="/css/home.css">

<head>
    <body>
        <%- include('../partials/nav') %>
        <h1 style="text-align: center;">Host Home PAGE</h1>

        <div class="homes-container">
        <% registeredHomes.forEach(Home => { %>
            <div class="home-card">
                <img src="<%= Home.photo %>" alt="<%= Home.houseName %>">
                <div class="home-info">
                    <h3><%= Home.houseName %></h3>
                    <p class="price">$<%= Home.price %></p>
                    <p class="location">📍 <%= Home.location %></p>
                    <p class="rating">⭐ <%= Home.rating %></p>
                    <p class="description"><%= Home.description %></p>
                </div>

                <a 
                style="background-color: rgb(255, 97, 97);" href="/host/delete/<%=Home._id%>" 
                class="details">Delete</a>

                <a 
                style="background-color: rgb(117, 117, 255);" class="details"
                href="/host/edit-homes/<%= Home._id %>?editing=true">Edit</a>

            </div>
        <% }); %>
    </div>
    </body>
</head>